In [2]:
import pandas as pd

# Sample DataFrame in wide format
df_wide = pd.DataFrame({
    'Student': ['Aiden','Blair','Lin', 'Vincent', 'Calli','Samr','Emerson'],
    'Math': [90, 93,85, 90, 98,91,89],
    'Science': [86, 94,88, 92, 80,87,98]
})

# Reshaping from wide to long format
df_long = pd.melt(df_wide, id_vars=['Student'], value_vars=['Math', 'Science'], 
                  var_name='Subject', value_name='Score')

print("Wide format:")
print(df_wide)
print("\nLong format:")
print(df_long)

Wide format:
   Student  Math  Science
0    Aiden    90       86
1    Blair    93       94
2      Lin    85       88
3  Vincent    90       92
4    Calli    98       80
5     Samr    91       87
6  Emerson    89       98

Long format:
    Student  Subject  Score
0     Aiden     Math     90
1     Blair     Math     93
2       Lin     Math     85
3   Vincent     Math     90
4     Calli     Math     98
5      Samr     Math     91
6   Emerson     Math     89
7     Aiden  Science     86
8     Blair  Science     94
9       Lin  Science     88
10  Vincent  Science     92
11    Calli  Science     80
12     Samr  Science     87
13  Emerson  Science     98

In [4]:
# Sample DataFrame
df = pd.DataFrame({
    'Department': ['Sales', 'Sales', 'Marketing', 'Marketing', 'HR', 'HR'],
    'Employee': ['Christopher', 'Noor', 'Luis', 'Noora', 'Danny', 'Antonio'],
    'Salary': [70000, 80000, 65000, 75000, 60000, 65000]
})

# Grouping by department and calculating mean salary
department_salary = df.groupby('Department')['Salary'].mean().reset_index()

print("Average Salary by Department:")
print(department_salary)

Average Salary by Department:
  Department   Salary
0         HR  62500.0
1  Marketing  70000.0
2      Sales  75000.0

In [5]:
# Sample hierarchical data
df_hierarchical = pd.DataFrame({
    'Region': ['North', 'North', 'South', 'South', 'East', 'East'],
    'City': ['New York', 'Boston', 'Miami', 'Dallas', 'Philadelphia', 'Atlanta'],
    'Sales': [1000, 1500, 800, 1200, 1300, 900]
})

# Setting hierarchical index
df_hierarchical.set_index(['Region', 'City'], inplace=True)

# Summarizing sales by region
region_sales = df_hierarchical.groupby(level='Region').sum()

print("Total Sales by Region:")
print(region_sales)

Total Sales by Region:
        Sales
Region
East     2200
North    2500
South    2000