In [1]:
#Step 1: Import tha pandas library
import pandas as pd

In [2]:
#Step 2: Read the CSV file
data = pd.read_csv('Documents/MSUDenver/CS39AE/HW1/Emp_Data_Lab1.csv')

In [3]:
#Step 3: Display the first few rows of the dataset
data.head()

,Employee ID,Department,Job Level,Gender,Years of Experience,Age,Salary ($),Height (cm)
0,1,HR,Intermediate,Female,5,30,"55,000",165
1,2,IT,Advanced,Male,10,40,"75,000",180
2,3,Marketing,Beginner,Female,2,25,"45,000",170
3,4,Finance,Expert,Male,15,50,"85,000",175
4,5,IT,Intermediate,Non-Binary,7,35,"60,000",160